/* Add any CSS necessary for your custom content */

.navbar-default {
	background-color: #B31B1B;
	background-image: none;
	height: 100px;
}

.navbar-brand.custom-logo {
	height: 70px; 
	padding: 5px;
}
