{
  "id":"cornell_oidc",
  "factoryAlias":"oidc",
  "title":"Cornell NetID",
  "subtitle":"a shibboleth extension",
  "factoryData":"type: oidc | issuer: https://shibidp.cit.cornell.edu | clientId: {{ cornell_oidc.clientId }} | clientSecret: {{ cornell_oidc.clientSecret }}",
  "enabled":{{ cornell_oidc.enabled | lower }}
}
